@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 3em;
  color:#1F2739;
  background-color:#1F2739;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/static/img/Base THEME.jpg") no-repeat;
}

a:link {
  color: #1F2739;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #1F2739;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgba(0,0,0,0.8);
  font-weight: bold;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;font-weight: bold;
  background-color: transparent;
  text-decoration: underline;
}
h1 {
  font-size:3em; 
  font-weight: bold;
  line-height:1em;
  -webkit-text-stroke-color: black;
  text-align: center;
  color:#2e253a;
}

h2 {
  font-size:1em; 
  font-weight: bold;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;font-weight: bold;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #f5a742; }
.yellow { color: #f5a742; -webkit-text-stroke-color: black;}

.container th h1 {
	  font-size: 1.375em;
    
  text-align: left;
  color: #f5a742;
}

.container td {
	font-weight: bold;
	  font-size: 1.1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 78%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 0em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: rgba(243, 217, 221, 0.596);
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: rgba(243, 217, 221, 0.575);
}

.container th {
	  background-color: #1F2739;
    font-weight: bold;
}

.container td:first-child { color: #1e047a;   font-weight: bold;
 }

.container tr:hover {
   background-color: #f5a742a2;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: rgba(255,255,255,0.8);

  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 400px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}