{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/styleabout.css">

<div class="card mx-5 my-5" id="abt">
    <h1 class="card-header" id ="heading">Instructions</h1>
    <div class="card-body">
      <p class="card-text"
      <ul>
        <li class ="liabt">Create your own account first by signing up.</li>
        <li class ="liabt">Explore the website by signing in.</li>
      </ul>
      <br>
      <h3 class="card-title">Key features</h3>
      <ul>
        <li class ="liabt">You can register slots for vaccines in various hospitals.(The slots are availbale from today upto next 30 working days)</li>
        <li class ="liabt">after registration u can confirm the same by checking in the vaccine order(vac order) tab. You can also cancel a booking. (Condition for repay would be notified by the officials)</li>
        <li class ="liabt">In serious emergency you can also book bed in the available hospitals in bed book tab.</li>
        <li class ="liabt"> Here also the confirmation can be done in my_be-order tab. While checking out from the hosp your booking would be cancelled by the authorities.</li>
    </ul>
    </p>
    <h3 class="card-title">You can checkout the official govt. site from the link in the nav bar as well as from the below button.</h3>
      <a href="https://www.mohfw.gov.in/" class="btn btn-primary">link</a>
    </div>
</div>


{% endblock %}
 