<link rel="stylesheet" type="text/css" href="/static/css/styleConfirm.css">


<div class="columns">
	<div class="column main"><input name="form_key" type="hidden" value="PefvQbePmuX6e2ZN">
		<div id="authenticationPopup" data-bind="scope:'authenticationPopup'">
			<div class="success-extras">
				<i class="far fa-check-circle"></i>
				<p>Confirm the date and hospital you Just Chose!</p>
				<p class="success-lrg">
					Do you really want to cancel?
				</p>
				<hr class="divider">
			</div>
		</div>
		<div class="checkout-success">
			<div class="actions-toolbar">
				<div class="primary">
					<a class="action primary continue" href="/vacCancel/{{id1}}/{{id2}}/{{rs}}">CONFIRM</a>
				</div>
			</div>
			<br>
			<div class="actions-toolbar">
				<div class="primary">
					<a class="action primary continue" href="/myVacOrder/{{rs}}">CANCEL</a>
				</div>
			</div>
		</div>

	</div>
</div>